h1, h2, h3, h4, h5, h6 {
	font-family: $font__headings;
	font-weight: $font-weight-bold;
	margin-top: 15px;
	margin-bottom: 15px;
	color: inherit;
}

h1, .h1 {
	font-size: em(36);
}

h2, .h2 {
	font-size: em(30);
}

h3, .h3 {
	font-size: em(24);
}

h4, .h4 {
	font-size: em(18);
}

h5, .h5 {
	font-size: em(14);
}

h6, .h6 {
	font-size: em(12);
}
