body,
button,
input,
select,
optgroup,
textarea {
	color: $color-text;
	font-family: $font__main;
	@include font-size($font-size-base-points);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";
